.search-box {
  position: relative;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: solid 2px #707070;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.search-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 20px;
  background: #FFF;
}

#search hr {
  border: 0.5px dashed #aaaaaa;
  margin: 0.5rem 0;
}

#search label{
  width: 120px;
  justify-content: left !important;
}

.rest-row {
  cursor: pointer;
}

.rest-row:hover {
  background-color: #b3b3b3;
}