<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Takane</title>
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <!-- Load polyfills to support older browsers -->
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
  <!-- Load Vue followed by BootstrapVue -->
  <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT9_3bq36DqV0e0-QvzTzsXAObSbqSSqk"></script>
</head>
<body>
  <!-- ナビ -->
  <nav class="navbar navbar-dark" style="background-color: #a6126a;">
    <div class="container">
      <a class="navbar-brand" href="#">Takane</a>
      <div class="navbar-nav">
        <button type="button" class="btn btn-outline-light" onclick="location.href = '/help.html'">？使い方</button>
      </div>
    </div>
  </nav>
  <!-- メイン -->
  <div id="app" class="container">
    <div id="search">
      <div class="search-title">検索条件</div>
      <div id="search-pos" class="mt-2 mb-2">
        現在地：
        <button class="btn btn-primary btn-sm" v-on:click="_getPos">取得</button>
        もしくは
        <b-button variant="primary" size="sm" v-b-modal.map-modal>地図から選択</b-button>
        <br>
        <span v-html="position"></span>
      </div>
      <b-modal id="map-modal" title="地図から選択" static="true" @show="_openMapModal" @ok="_setPos">
        <p>地図から現在地を選択してください。</p>
        <div id="search-map" style="width:100%; height:400px;"></div>
      </b-modal>
      <div id="search-area" class="mb-2">
        <label for="area-dropdown">検索範囲：</label>
        <div class="btn-group btn-group-sm" role="group" aria-label="area-list">
          <button v-for="radius in area_radius" type="button" v-on:click="_setArea(radius.id)" v-bind:class="['btn', area_id == radius.id ? 'btn-primary' : 'btn-secondary']">{{radius.name}}</button>
        </div>
      </div>
      <div class="mb-2 form-inline">
        <label for="freeword">フリーワード：</label>
        <input type="text" id="freeword" class="form-control">
      </div>
      <div style="text-align: center;">
        <button class="btn btn-success" onclick="getRestSearch()">検索！</button>
      </div>
    </div>
    <div id="results">
      <div v-if="error">
        <div>検索時にエラーが発生しました。<br>エラーコード：{{error.code}} {{error.message}}</div>
      </div>
      <div v-else>
        <div v-if="hit_count">{{hit_count}}件見つかりました。</div>
        <div v-if="hit_count > 100">最初の100件のみ表示します。</div>
      </div>
      <br>
      <div v-for="rest in disp_list">
        <div class="media border p-2 rest-row" v-on:click="_showDetail(rest)">
          <img v-if="rest.image_url.shop_image1" v-bind:src="rest.image_url.shop_image1" width="100" class="mr-2" />
          <img v-else src="images/noimage.png" width="100" class="mr-2" />
          <div class="media-body">
            <h5 class="mt-0">{{rest.name}}</h5>
            <div style="color: #5f5f5f">
              カテゴリ：
              <span>{{rest.category}}</span><br>
              アクセス：
              <span v-if="rest.access.walk">
                {{rest.access.line}}{{rest.access.station}}{{rest.access.station_exit}}{{rest.access.walk}}分
              </span>
              <span v-else>情報なし</span>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation" class="mt-2">
        <ul class="pagination justify-content-center" id="pagenav">
        </ul>
      </nav>
    </div>
    <div id="details" style="display: none;">
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" v-on:click="_returnToList()">一覧に戻る</button>
        <button class="btn btn-info" v-on:click="_openGnavi()">ぐるなびで確認</button>
      </div>
      <br>
      <h2 style="text-align: center;">店舗詳細</h2>
      <div v-if="detail">
        <div style="text-align: center;">
          <img v-if="detail.image_url.shop_image1" v-bind:src="detail.image_url.shop_image1" height="300" class="m-2" />
          <img v-else src="images/noimage.png" height="300" class="m-2" />
          <img v-if="detail.image_url.shop_image2" v-bind:src="detail.image_url.shop_image2" height="300" class="m-2" />
        </div>
        <table class="table">
          <tr>
            <td>店舗名</td>
            <td>{{detail.name}}</td>
          </tr>
          <tr>
            <td>カテゴリ</td>
            <td>{{detail.category}}</td>
          </tr>
          <tr>
            <td>住所</td>
            <td>{{detail.address}}</td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td>{{detail.tel}}</td>
          </tr>
          <tr>
            <td>営業時間</td>
            <td v-html="detail.opentime"></td>
          </tr>
          <tr>
            <td>休業日</td>
            <td>{{detail.holiday}}</td>
          </tr>
        </table>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item"
            v-bind:src="'https://maps.google.co.jp/maps?output=embed&t=m&hl=ja&z=18&ll='+detail.latitude+','+detail.longitude+'&q='+detail.latitude+','+detail.longitude"
            frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- 権利表記 -->
  <footer class="footer">
    <div class="text-center">
      Copyright &copy; 2019 Marron Akanishi All Rights Reserved.<br>
      Supported by <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a><br>
    </div>
  </footer>
  <script src="js/script.js"></script>
</body>
</html>